<nav>
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Habitsu</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <%- if current_user -%>
            <li>
              <%= link_to dashboard_path do %>
                <i class="material-icons">view_module</i>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, id: 'sign-out' do %>
                <i class="material-icons">perm_identity</i>
              <% end %>
            </li>
          <%- else -%>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <%- end -%>
        </ul>
      </div>
    </div>
  </div>
</nav>
